<html>

  <p>pfname: <%= pfname %></p>
  <p>plname: <%= plname %></p>
  <p>cfname: $<%= cfname %></p>
  <p>clname: $<%= clname %></p>
  <p>email: $<%= email %></p>
  <p>phone: $<%= phone %></p>
</html>
